<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomrer.klisterdk.tomrer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/newicon"
        android:label="Tømrer Tool"
        android:largeHeap="true"
        android:roundIcon="@mipmap/newicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskActivity" />
        <activity android:name=".MesterActivity" />
        <activity android:name=".Loft6060b" />
        <activity android:name=".MesterResult" />
        <activity
            android:name=".addition"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="af0937dd1289228bbcb120eb756858f9489d0759" />

        <activity android:name=".MesterCategory" />
        <activity android:name=".Loft6060b1" />
        <activity android:name=".HandResult" />
        <activity android:name=".MesterMaterialer" />
        <activity android:name=".trekandt345.Trekandt345" />
        <activity android:name=".trekandt345.Trekandt345result" />
        <activity android:name=".TagSten.TagStenSidevejs" />
        <activity android:name=".TagSten.Tagcategory" />
        <activity android:name=".Gips.GipsLoft" />
        <activity android:name=".Lofter.Gips.LoftMenu"></activity>
    </application>

</manifest>